<style>

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: lato;
  width: 960px;
  margin 0 auto;
  padding: 0px 80px;
  background-color: #FAF3DD;
  font-size: 16px;
  color: #FE6472;
  align-items: center;
  justify-content: center;
}

header {
  background-color: #AED9E0;
}

header h1 {
  size: 64px;
  color: #ffa69e;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  size: 58px;
}

nav a {
  margin: 10px;
}

nav a:hover{
  color: ##ffa19e;
}
</style>
