
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: Lato, Arial; // imported font from google
  background-color: grey;
  font-size: 17px;
  color: #1d4e89;
}

main{
  padding: 0px 80px;
  width: 780px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

main > p {
  text-align: center;
  margin: 25px 0px;
}

h2, h3 {
  text-align: center;
}

img {
  height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto; // not completely clear what 'auto' means in these cases, but it helps center the images

}

header, footer {
  background-color: #1d4e89;
  width: 100%;
  text-align: center;
}

header h1 {
  font-size: 44px;
  color: white;
  margin-top: 0px; // Without this code, there's an extra margin above my header
}

footer {
  height: 85px;
  color: white;

}
footer p {
  margin-bottom: 0px; // Without this code, there's an extra margin below my footer
  padding-top:10px;
}

nav {
  display: flex;
  justify-content: center;
  font-size: 23px;
  padding-bottom: 15px;
}

nav a {
  margin: 0px 20px;
  text-decoration: none;
}
nav a:link{
  color: white;
}
nav a:visited{
  color: white;
}
nav a:hover{
  color: #ffa19e;
}
main a:hover{
  color: #ffa19e;
}
main a:link {
  color: #1d4e89;
}
main a:visted{
  color: #1d4e89;
}

hr {
  border: 1px solid black;
  margin: 80px auto;
  width: 375px;
  border-radius: 78%;
  padding: 2px 0px;
  background-color: white;
}
